<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-md-12">
				<p class="card-text">
					<span class="text-muted">[<%= message.timestamp %>] <%= message.user.name %>:</span>
					<br>
					<%= markdown(message.body) %>
				</p>
			</div>
		</div>
	</div>
</div>