<div class="card">
	<div class="card-header">
		Chat rooms
	</div>

	<table class="table table-hover">
		<%= render @chat_rooms %>
	</table>
	<div class="card-footer">
		<%= link_to 'New Chat Room', new_chat_room_path, class: 'btn btn-primary' %>
	</div>
</div>