<div class="col-md-6 offset-md-3">
	<div class="card">
		<h4 class="card-header">New Chat Room</h4>

		<%= form_for @chat_room do |f| %>
			<div class="form-group container">
				<%= f.label :title %>
				
                <div class="input-group">
                  <%= f.text_field :title, autofocus: true, class: 'form-control' %>
                  <div class="input-group-addon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
                </div>				
			</div>


			<div class="card-footer"><%= f.submit "Create", class: 'btn btn-primary btn-block btn-lg' %></div>
		<% end %>
	</div>
</div>
<div class="row">
<div class="col-md-6 offset-md-3">
	<p class="shared-links">
		<a href="/chat_rooms">Back</a>
	</p>
</div>
</div>